/*Variaveis de cores gerais e larguras de tela*/
:root {
  --color-primary: #00c3f4;
  --color-primary-variant: #0062f4;
  --color-gradient: linear-gradient(
    var(--color-primary),
    var(--color-primary-variant)
  );
  --color-white: white;
  --color-black: black;

  --container-width-lg: 80%;
  --container-width-md: 92%;
}

/*Resetando  todos os elementos e pseudoelementos*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: var(--color-gradient);
  height: 100vh;
}

nav {
  background: var(--color-white);
  width: 100vw;
  height: 4rem;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
}

.nav_container {
  width: var(--container-width-lg);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_toggle-btn {
  display: none;
}

.nav_logo {
  width: 5.4rem;
  display: grid;
  place-items: center;
}

.nav_logo img {
  width: 100%;
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 4.5rem;
  height: 100%;
}

.nav_links li {
  height: 100%;
}

.nav_links li a {
  color: var(--color-black);
  font-weight: 500;
  display: flex;
  height: 100%;
  align-items: center;
  transition: color 400ms ease;
  position: relative;
}

.nav_links a:hover {
  color: var(--color-primary);
}

.nav_links li a.active::after {
  content: "";
  display: block;
  background: var(--color-primary);
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

section {
  display: grid;
  place-items: center;
  height: 100vh;
}

section h1 {
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 3ren;
}

@media screen and (min-width: 1025px) {
  .nav_container button {
    display: none;
  }
  nav {
    display: grid;
  }
}

/*MEDIA QUERIES (responsive disign medium & small screens)*/

@media screen and (max-width: 1024px) {
  .nav_container {
    width: var(--container-width-md);
    position: absolute;
  }

  .nav_links {
    position: absolute;
    top: 100%;
    right: 0;
    gap: 0;
    flex-direction: column;
    align-items: flex-start;
    display: none;
    perspective: 500px;
  }

  .nav_links li {
    width: 100%;
    box-shadow: -2rem 4rem 4rem rgba(0, 0, 0, 0.2);
  }

  /*=======================ANIMATION 1=======================================*/

  /*AQWUI SÃO VALORES INICIAIS DA ANIMAÇÕES*/

  .nav_links li {
    transform: rotate(-90deg) rotateY(90deg);
    transform-origin: top right;
    animation: animation1 1s ease forwards;
    opacity: 0;
  }

  .nav_links li:nth-child(2) {
    animation-delay: 300ms;
    transform-origin: top left;
    transform: rotateZ(90deg) rotateY(-90deg);
  }

  .nav_links li:nth-child(3) {
    animation-delay: 600ms;
  }

  .nav_links li:nth-child(4) {
    animation-delay: 900ms;
    transform-origin: top left;
    transform: rotateZ(90deg) rotateY(-90deg);
  }

  .nav_links li:nth-child(5) {
    animation-delay: 1.2s;
  }

  @keyframes animation1 {
    to {
      transform: rotate(0);
      opacity: 1;
    }
  }

  /*=======================ANIMATION 2 =======================================*/

  /*AQUI SÃO VALORES INICIAIS DA ANIMAÇÕES*/

  /* .nav_links li {
        animation: animation2 800ms ease forwards;
        transform: rotateY(90deg) rotateX(90deg);
        transform-origin: top right;
        opacity: 0;
    }

    .nav_links li:nth-child(2) {
        animation-delay: 300ms;
    }

    .nav_links li:nth-child(3) {
        animation-delay: 600ms;
    }

    .nav_links li:nth-child(4) {
        animation-delay: 900ms;
    }

    .nav_links li:nth-child(5) {
        animation-delay: 1.2s;
    }



    @keyframes animation2 {

        to {
            transform: rotate(0);
            opacity: 1;
        }

    }*/

  /*=======================ANIMATION 3=======================================*/

  /*AQWUI SÃO VALORES INICIAIS DA ANIMAÇÕES*/

  /*.nav_links li {
        animation: animation2 500ms ease forwards;
        transform: rotateX(90deg);
        transform-origin: top;
        opacity: 0;
    }



    @keyframes animation3 {

        to {
            transform: rotate(0);
            opacity: 1;
        }

    }

    .nav_links li:nth-child(2) {
        animation-delay: 100ms;
    }

    .nav_links li:nth-child(3) {
        animation-delay: 300ms;
    }

    .nav_links li:nth-child(4) {
        animation-delay: 500ms;
    }

    .nav_links li:nth-child(5) {
        animation-delay: 700ms;
    }*/

  /*=======================ANIMATION 4 =======================================*/

  /*AQWUI SÃO VALORES INICIAIS DA ANIMAÇÕES*/

  /*.nav_links li {
    animation: animation4 500ms ease forwards;
    transform-origin: top;
    opacity: 0;
  }

  .nav_links li:nth-child(2) {
    animation-delay: 300ms;
  }

  .nav_links li:nth-child(3) {
    animation-delay: 600ms;
  }

  .nav_links li:nth-child(4) {
    animation-delay: 900ms;
  }

  .nav_links li:nth-child(5) {
    animation-delay: 1200ms;
  }

  @keyframes animation4 {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }*/

  /*=======================ANIMATION 4 =======================================*/

  /*AQWUI SÃO VALORES INICIAIS DA ANIMAÇÕES*/

  /*.nav_links {
    perspective: none;
  }

  .nav_links li {
    animation: animation5 1s ease forwards;
    transform-origin: right;
    transform: rotateY(-90deg);
    opacity: 0;
  }

  .nav_links li:nth-child(2) {
    animation-delay: 300ms;
  }

  .nav_links li:nth-child(3) {
    animation-delay: 600ms;
  }

  .nav_links li:nth-child(4) {
    animation-delay: 900ms;
  }

  .nav_links li:nth-child(5) {
    animation-delay: 1200ms;
  }

  @keyframes animation5 {
    to {
      transform: rotate(0);
      opacity: 1;
    }
  }*/

  .nav_links li a {
    background: var(--color-white);
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 5rem 0 2.5rem;
    border-top: 1px solid #b3d8e1;
  }

  .nav_links li a.active::after {
    display: none;
  }

  .nav_toggle-btn {
    display: inline-block;
    font-size: 2rem;
    color: var(--color-black);
    border: none;
    background: transparent;
    cursor: pointer;
  }

  #nav_toggle-close {
    display: none;
  }

  section h1 {
    font-size: 2.2rem;
  }
}
